@mixin button($color, $corner) {
    padding: 0.5rem 1rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    width: auto;

    background-color: var(--bg-color-primary);
    color: var(--text-color-primary);

    @if $corner == rounded {
        border-radius: 0.8rem;
    }
    @else if $corner == circle {
        border-radius: 100px;
        aspect-ratio: 1;
    }
    @else {
        border-radius: 0;
    }
}

button, [role='button'] {
    @include button(primary, rounded);
}
.link-btn {
    @include button(primary, rounded);
}
.btn-circle {
    @include button(primary, circle);
}
.btn-cancel {
    background-color: transparent;
    border: 2px solid var(--bg-color-primary);
}

[data-theme='dark'] {
    button:hover, [role='button']:hover {
        filter: brightness(1.8);
    }
}
[data-theme='light'] {
    button:hover, [role='button']:hover {
        filter: brightness(0.8);
    }
}

.priority {
    display: block;
    background-color: var(--bg-color-red);
    width: 0.7rem;
    height: 6rem;
    position: absolute;
    transform: rotate(45deg);
    left: -0.5rem;
    top: -1.2rem;
}

[data-p="3"] > .priority {
    background-color: var(--bg-color-red);
}
[data-p="2"] > .priority {
    background-color: var(--bg-color-yellow);
}
[data-p="1"] > .priority {
    background-color: var(--bg-color-green);
}