html[data-theme="light"] {
    --text-color-primary: #{$color-primary};
    --text-color: #{$color-text};

    --bg-color-red: #{$bg-red};
    --bg-color-yellow: #{$bg-yellow};
    --bg-color-green: #{$bg-green};
    --bg-color-primary: #{$bg-primary};
    --bg-color: #{$color-bg};

    --card-color: #{$card-color-light};
}

html[data-theme="dark"] {
    --text-color-primary: #{$bg-primary};
    --text-color: #{$color-bg};

    --bg-color-red: #{$color-red};
    --bg-color-yellow: #{$color-yellow};
    --bg-color-green: #{$color-green};
    --bg-color-primary: #{$color-primary};
    --bg-color: #{$color-text};

    --card-color: #{$card-color-dark};
}

.theme-switch-btn {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius: 50px;
    background-color: var(--bg-color-primary);

    span, input[name='theme-switch'] {
        position: absolute;
        inset: 0;
        margin: auto;
        width: 1.5rem;
        height: 1.5rem;
    }
    
    input[name='theme-switch'] {
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;
    }

    span {
        color: var(--text-color-primary);
        font-size: 1.5rem;
    }
}

input[name='theme-switch']:checked ~ .light {
    display: none;
}
input[name='theme-switch']:not(:checked) ~ .dark {
    display: none;
}

input[name='theme-switch'] ~ span {
    animation: spin 300ms ease-out;
}

@keyframes spin {
    0% {
        transform: rotate(90deg) scale(0.1);
        opacity: 0;
    }
    80% {
        opacity: 1;
        transform: rotate(-9deg) scale(1.2);
    }
    100% {
        transform: rotate(0deg);
    }
}