// Variables
$bg-red: #fd857b;
$bg-yellow: #F7D060;
$bg-green: #98D8AA;
$bg-primary: #b098df;
$color-bg: rgb(255, 255, 255);
$card-color-light: rgb(240, 240, 240);

$color-red: #3d120e;
$color-yellow: #57481f;
$color-green: #163f21;
$color-primary: #251643;
$color-text: rgb(14, 14, 14);
$card-color-dark: rgb(10, 10, 10); 